.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7ebef;
  padding: 16px 12px;

  > .ant-typography {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__content {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;

    > .ant-avatar {
      margin-right: 8px;
    }
  }
}
