.my-subscriptions {
  max-width: 500px;
  margin: auto;
}

.subscription-block {
  border: 1px solid black;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
