$topbar-height: 40px;
$topbar-vertical-paddings: 16px;
$topbar-full-height: 75px;

$sidebar-width: 256px;

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $topbar-height;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7ebef;
  padding: $topbar-vertical-paddings 12px;

  > .ant-typography {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__content {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;

    > .ant-avatar {
      margin-right: 8px;
    }
  }
}

.sidebar {
  height: calc(100vh - $topbar-full-height);
  width: $sidebar-width;
  position: fixed;
}

.container {
  margin-top: $topbar-full-height;
  display: flex;
  width: 100vw;

  &__content {
    margin-left: $sidebar-width;
    padding: 16px;
    flex: 1;
  }
}
