.users {
  max-width: 500px;
  margin: auto;

  &__item {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;

    &__block {
      display: flex;
      flex-direction: column;
    }
  }
}
